In [1]:
#p252

def my_func():
    print('this is the first function')
    
my_func()

this is the first function

In [4]:
def helloint():
    print('\t', 77)

print(1)
helloint()
print(helloint)
print(3)

1
	 77
<function helloint at 0x000002C913D0D160>
3

In [9]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [11]:
def hello(name):
    print(f'Hello {name}!')

hello('Jisung Park')

Hello Jisung Park!

In [12]:
new_name = 'Boom Cha'
hello(new_name)

Hello Boom Cha!

In [14]:
def hello(name='강남대학교'):
    print(f'Hello {name}!')

hello()
hello('박지성')

Hello 강남대학교!
Hello 박지성!

In [19]:
def hello(name):
    print(f'{name} arrived')
    return name + '!'

result = hello('박지성')
print(result)

박지성 arrived
박지성!

In [23]:
def my_sum(x, y=0):
    print('x is ', x, '\ty is ', y)
    return x+y

print(my_sum(4, 5))

x is  4 	y is  5
9

In [27]:
def my_sum1(x, y=0):
    print('x is ', x, '\ty is ', y)
    return x, y, x+y
a = my_sum1(3,4)
print(a)

x is  3 	y is  4
(3, 4, 7)

In [38]:
i = 15

def addone():
    #i = 30
    global i
    i += 1
    print(f'the value of i is {i}')

print(i)
addone()
print(i)

15
the value of i is 16
16

In [42]:
def addone1():
    #i = 30
    global i
    j = 20
    i += 1
    print(f'the value of i is {i}')

print(i)
addone()
print(j)

18
the value of i is 19

NameError: name 'j' is not defined

In [43]:
def mysubstract(pre, post):
    return pre - post

print(mysubstract(5, 3))

2

In [44]:
print(mysubstract(post = 5, pre = 3))

-2

In [46]:
print(mysubstract(post = 5, 3))

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_7652/2661913533.py, line 1)

In [49]:
def hello(*name):
    for i in name:
        print(i)

hello(*['박지성', '이영표', '차두리'])

박지성
이영표
차두리

In [59]:
def mykeyprint(**kwargs):
    for k in kwargs:
        print(f'{k}: {kwargs[k]}', end=' ')
    print()
    
mykeyprint(aaa=1, bbb=2, ccc=3)
mykeyprint(**{'aaa': 1, 'bbb': 2, 'ccc': 3})

aaa: 1 bbb: 2 ccc: 3
aaa: 1 bbb: 2 ccc: 3

In [61]:
def sumvalue(value, **kwargs):
    a = value
    for k in kwargs:
        a += kwargs[k]
    
    return a

coffeeprice = {'에스프레소': 2000, '아메리카노': 2500, '카페라떼': 3000}

sumvalue(1000, **coffeeprice)

8500

In [63]:
sumvalue(**coffeeprice, value = 1000)

8500

In [65]:
(lambda x: x+1)(5)

6

In [66]:
(lambda x, y: x+y)(4, 5)

9

In [67]:
mysum = lambda x, y: x+y
mysum(4,5)

9

In [71]:
mylist = [10, 20, 30, 40, 50, 12, 35]

sorted(mylist, reverse=True)

[50, 40, 35, 30, 20, 12, 10]

In [72]:
mylist

[10, 20, 30, 40, 50, 12, 35]

In [73]:
mylist1 = sorted(mylist, reverse = True)

In [74]:
mylist1

[50, 40, 35, 30, 20, 12, 10]

In [81]:
players = [('박지성', 5), ('차범근', 2), ('손흥민', 6), ('이영표', 9)]

sorted(players, key = lambda x:x[1], reverse=True)

[('이영표', 9), ('손흥민', 6), ('박지성', 5), ('차범근', 2)]

In [87]:
mylist = [5, 1, 2, 3, 6, 8, 9]
mylist1 = [1, 2, 3, 4, 5, 6, 7]
list(map(lambda x, y: x * y, mylist, mylist1))

[5, 2, 6, 12, 30, 48, 63]